.c-hero {
  overflow: hidden;
  position: relative;
  z-index: 500;
  padding-top: 7%;
  padding-bottom: 7%;
  margin-bottom: 100px;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    #e8d1e4,
    #f0cfdf,
    #f7cdd8,
    #fcccd0,
    #ffccc6,
    #ffcdbc,
    #ffcfb0,
    #ffd2a6,
    #ffd998,
    #ffe28a,
    #ffec7c,
    #f9f871
  );
}

.c-hero__box {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.c-hero__title {
  color: #323232;
  font-family: "BioRhyme", serif;
  font-size: 2.5em;
  letter-spacing: -1px;
  margin: 0;
  max-width: 90%;
  text-align: center;
}

.d-block {
  align-content: center;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 1px solid #ffdd8b;
  background-color: #e8d1e4;
}

.carousel {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: auto;
  height: auto;
  margin: 0 auto;
  background-color: inherit;
  padding: 40px;
  justify-content: space-around;
}
